<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Futuristico - Box Office Success with Metascore ratings</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
            
		</style>
		<script type="text/javascript">

      $(function () {
          $('#container').highcharts({
              chart: {
                    type: 'areaspline'
                },
             
              title: {
                  text: 'Box Office Success with Metascore ratings',
                  x: -20
              },
              subtitle: {
                  text: 'By : The Excavators - CMPE 239 SJSU',
                  x: -20
              },
              xAxis: {
                  title: {
                      text: 'Metascore Rating',
                      style: {
                          color: Highcharts.getOptions().colors[0]
                      }
                  },
                  min: 0,
                  max: 100,
                  tickInterval: 2
              },
              yAxis: [{
                  title: {
                      text: 'Box Office',
                      style: {
                          color: Highcharts.getOptions().colors[0]
                      }
                  },
                  plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
                  labels: {
                      format: '{value} million',
                      style: {
                          color: Highcharts.getOptions().colors[0]
                      }
                  },
                  min: 0,
                  max: 800000000,
                  tickInterval: 100000000

              }],

              credits: {
                  enabled: false
              },
              series: [{
                  data: [
                          [9,38000000,10  ],
                          [9,2300000,10  ],
                          [11,32000000,10  ],
                          [12,6500000,10  ],
                          [12,7900,10  ],
                          [15,4600000,10  ],
                          [15,14200000,10  ],
                          [15,17500000,10  ],
                          [16,21400000,10  ],
                          [17,43800000,10  ],
                          [17,8600000,10  ],
                          [17,33800000,10  ],
                          [17,6100,10  ],
                          [17,17300000,10  ],
                          [18,36700000,10  ],
                          [18,53200000,10  ],
                          [18,4900000,10  ],
                          [18,8800000,10  ],
                          [19,49500000,10  ],
                          [19,3700000,10  ],
                          [19,38800,10  ],
                          [19,133700000,10  ],
                          [19,1300000,10  ],
                          [20,7000000,10  ],
                          [20,56700000,10  ],
                          [20,131600000,10  ],
                          [20,400000,10  ],
                          [20,14700,10  ],
                          [20,40000000,10  ],
                          [21,64400,10  ],
                          [21,47000000,10  ],
                          [21,47000000,10  ],
                          [21,55700000,10  ],
                          [21,55700000,10  ],
                          [21,55700000,10  ],
                          [21,55700000,10  ],
                          [22,56000000,10  ],
                          [22,200000,10  ],
                          [22,37900000,10  ],
                          [22,18900000,10  ],
                          [22,26400000,10  ],
                          [22,10500000,10  ],
                          [22,18800000,10  ],
                          [23,109200000,10  ],
                          [23,37300000,10  ],
                          [23,74200000,10  ],
                          [24,6800000,10  ],
                          [24,32200000,10  ],
                          [24,15200000,10  ],
                          [24,58600000,10  ],
                          [24,11900000,10  ],
                          [24,10200000,10  ],
                          [24,133100000,10  ],
                          [24,400000,10  ],
                          [25,200000,10  ],
                          [25,32600000,10  ],
                          [25,14600000,10  ],
                          [25,28100000,10  ],
                          [25,33600000,10  ],
                          [25,27700,10  ],
                          [25,39800,10  ],
                          [25,10400000,10  ],
                          [26,500000,10  ],
                          [26,1400000,10  ],
                          [26,12000000,10  ],
                          [26,21000,10  ],
                          [26,18400000,10  ],
                          [26,6000,10  ],
                          [26,3300000,10  ],
                          [26,4900,10  ],
                          [27,26800000,10  ],
                          [27,20500000,10  ],
                          [27,29600000,10  ],
                          [27,24300000,10  ],
                          [27,95300000,10  ],
                          [27,148400000,10  ],
                          [27,92400,10  ],
                          [27,10900,10  ],
                          [27,13100000,10  ],
                          [27,6000,10  ],
                          [28,33500000,10  ],
                          [28,13400000,10  ],
                          [28,88900000,10  ],
                          [28,25700000,10  ],
                          [28,24800000,10  ],
                          [28,4600000,10  ],
                          [28,18000,10  ],
                          [28,67300000,10  ],
                          [28,35600,10  ],
                          [28,16300,10  ],
                          [28,21800000,10  ],
                          [28,38300000,10  ],
                          [28,48800,10  ],
                          [29,37700000,10  ],
                          [29,1200000,10  ],
                          [29,15100,10  ],
                          [30,7500000,10  ],
                          [30,19800000,10  ],
                          [30,42600000,10  ],
                          [30,66400000,10  ],
                          [30,27700000,10  ],
                          [30,33600000,10  ],
                          [30,162000000,10  ],
                          [30,80400000,10  ],
                          [30,5200,10  ],
                          [30,25900000,10  ],
                          [30,382,10  ],
                          [30,112200000,10  ],
                          [30,19100000,10  ],
                          [30,7800000,10  ],
                          [30,23400000,10  ],
                          [31,4600000,10  ],
                          [31,4600000,10  ],
                          [31,102200000,10  ],
                          [31,40600000,10  ],
                          [31,1100000,10  ],
                          [31,21600000,10  ],
                          [31,1200000,10  ],
                          [31,17200,10  ],
                          [31,300000,10  ],
                          [31,54800000,10  ],
                          [31,11200,10  ],
                          [31,31600000,10  ],
                          [31,44800000,10  ],
                          [31,82700,10  ],
                          [31,388,10  ],
                          [31,16000000,10  ],
                          [31,46300000,10  ],
                          [32,28700000,10  ],
                          [32,49400000,10  ],
                          [32,72200,10  ],
                          [32,141200000,10  ],
                          [32,40200000,10  ],
                          [32,13200000,10  ],
                          [32,5400000,10  ],
                          [32,7400000,10  ],
                          [32,1700,10  ],
                          [33,25800000,10  ],
                          [33,110000000,10  ],
                          [33,55300000,10  ],
                          [33,22900000,10  ],
                          [33,29100000,10  ],
                          [33,25900000,10  ],
                          [33,42400000,10  ],
                          [33,10500000,10  ],
                          [33,103000000,10  ],
                          [33,36400000,10  ],
                          [33,11100,10  ],
                          [33,2800,10  ],
                          [33,31200000,10  ],
                          [33,2200000,10  ],
                          [34,94800000,10  ],
                          [34,64400000,10  ],
                          [34,36900,10  ],
                          [34,55200000,10  ],
                          [34,8500000,10  ],
                          [34,43300000,10  ],
                          [34,50100,10  ],
                          [34,73300000,10  ],
                          [34,25500000,10  ],
                          [34,38100000,10  ],
                          [34,37500000,10  ],
                          [34,5200,10  ],
                          [34,2000,10  ],
                          [34,71000000,10  ],
                          [34,21600000,10  ],
                          [35,80100000,10  ],
                          [35,30600000,10  ],
                          [35,35100000,10  ],
                          [35,402100000,10  ],
                          [35,6300000,10  ],
                          [35,500000,10  ],
                          [35,100200000,10  ],
                          [35,27400,10  ],
                          [35,21300000,10  ],
                          [35,20400000,10  ],
                          [35,3300,10  ],
                          [35,18400,10  ],
                          [35,134500000,10  ],
                          [35,57000000,10  ],
                          [35,15200000,10  ],
                          [35,13700,10  ],
                          [35,26600000,10  ],
                          [35,32900,10  ],
                          [35,29800000,10  ],
                          [35,39300000,10  ],
                          [36,20500000,10  ],
                          [36,31400000,10  ],
                          [36,80200000,10  ],
                          [36,29900000,10  ],
                          [36,40000000,10  ],
                          [36,70000000,10  ],
                          [36,31700000,10  ],
                          [36,35900000,10  ],
                          [36,58600000,10  ],
                          [36,55100000,10  ],
                          [36,33000000,10  ],
                          [36,1400000,10  ],
                          [36,28900,10  ],
                          [36,11700000,10  ],
                          [36,34400000,10  ],
                          [36,1600,10  ],
                          [36,1800,10  ],
                          [36,6800000,10  ],
                          [36,77300000,10  ],
                          [36,49500,10  ],
                          [36,19300000,10  ],
                          [36,26000000,10  ],
                          [37,46000000,10  ],
                          [37,43900000,10  ],
                          [37,500000,10  ],
                          [37,7800000,10  ],
                          [37,14200000,10  ],
                          [37,31100000,10  ],
                          [37,67600000,10  ],
                          [37,100000,10  ],
                          [37,13300,10  ],
                          [37,15000000,10  ],
                          [37,53600,10  ],
                          [37,38500000,10  ],
                          [37,1100,10  ],
                          [37,4400000,10  ],
                          [37,16800,10  ],
                          [37,100000,10  ],
                          [37,100000,10  ],
                          [37,11400000,10  ],
                          [37,9400000,10  ],
                          [37,800000,10  ],
                          [37,89300000,10  ],
                          [37,3500000,10  ],
                          [37,11600,10  ],
                          [37,64200000,10  ],
                          [37,59700000,10  ],
                          [38,44200000,10  ],
                          [38,400000,10  ],
                          [38,12200000,10  ],
                          [38,1600000,10  ],
                          [38,400000,10  ],
                          [38,10900,10  ],
                          [38,4300,10  ],
                          [38,21000,10  ],
                          [38,1400000,10  ],
                          [38,24300,10  ],
                          [38,55700000,10  ],
                          [39,24800000,10  ],
                          [39,41800000,10  ],
                          [39,15000000,10  ],
                          [39,163200000,10  ],
                          [39,200000,10  ],
                          [39,53400000,10  ],
                          [39,98800000,10  ],
                          [39,3000000,10  ],
                          [39,116600000,10  ],
                          [39,37000000,10  ],
                          [39,30500000,10  ],
                          [39,60400000,10  ],
                          [39,10900000,10  ],
                          [39,6600,10  ],
                          [39,90300000,10  ],
                          [39,2500000,10  ],
                          [39,23200000,10  ],
                          [39,43600000,10  ],
                          [39,83900000,10  ],
                          [40,72300000,10  ],
                          [40,59600,10  ],
                          [40,19400000,10  ],
                          [40,79100000,10  ],
                          [40,26200,10  ],
                          [40,59100,10  ],
                          [40,93200,10  ],
                          [40,5000,10  ],
                          [40,500000,10  ],
                          [40,27900000,10  ],
                          [40,21700,10  ],
                          [40,18600000,10  ],
                          [40,70000000,10  ],
                          [40,45300000,10  ],
                          [40,70900,10  ],
                          [40,53900000,10  ],
                          [40,1000000,10  ],
                          [40,600000,10  ],
                          [40,83600000,10  ],
                          [40,30700000,10  ],
                          [40,72300,10  ],
                          [40,100000,10  ],
                          [41,20500000,10  ],
                          [41,32900000,10  ],
                          [41,120100000,10  ],
                          [41,79900000,10  ],
                          [41,119400000,10  ],
                          [41,16600,10  ],
                          [41,108000000,10  ],
                          [41,29100000,10  ],
                          [41,35600000,10  ],
                          [41,18400,10  ],
                          [41,800000,10  ],
                          [41,900000,10  ],
                          [41,20500,10  ],
                          [41,6500,10  ],
                          [41,22900,10  ],
                          [41,3300000,10  ],
                          [41,35800,10  ],
                          [41,98900000,10  ],
                          [41,64400000,10  ],
                          [41,7900000,10  ],
                          [41,134100000,10  ],
                          [41,5000,10  ],
                          [41,10500000,10  ],
                          [41,8500000,10  ],
                          [42,32700000,10  ],
                          [42,177100000,10  ],
                          [42,41500000,10  ],
                          [42,25000000,10  ],
                          [42,44000000,10  ],
                          [42,24000000,10  ],
                          [42,1000000,10  ],
                          [42,11200,10  ],
                          [42,23100000,10  ],
                          [42,6900000,10  ],
                          [42,352400000,10  ],
                          [42,34500000,10  ],
                          [42,1800000,10  ],
                          [42,17600000,10  ],
                          [42,44700000,10  ],
                          [42,200000,10  ],
                          [42,60200,10  ],
                          [42,2200000,10  ],
                          [42,32400000,10  ],
                          [42,23000000,10  ],
                          [43,11600000,10  ],
                          [43,36100000,10  ],
                          [43,101100000,10  ],
                          [43,10600000,10  ],
                          [43,28600000,10  ],
                          [43,100000,10  ],
                          [43,800000,10  ],
                          [43,61900000,10  ],
                          [43,48500000,10  ],
                          [43,8000000,10  ],
                          [43,100000,10  ],
                          [43,300000,10  ],
                          [43,23200000,10  ],
                          [43,500000,10  ],
                          [43,125000000,10  ],
                          [43,35000000,10  ],
                          [43,5400,10  ],
                          [43,35100000,10  ],
                          [43,3400000,10  ],
                          [43,300000,10  ],
                          [43,15300,10  ],
                          [44,17400000,10  ],
                          [44,1700000,10  ],
                          [44,296600000,10  ],
                          [44,23000000,10  ],
                          [44,23200000,10  ],
                          [44,10700000,10  ],
                          [44,13100,10  ],
                          [44,254500000,10  ],
                          [44,100000,10  ],
                          [44,7600,10  ],
                          [44,30900000,10  ],
                          [44,16000000,10  ],
                          [44,234900000,10  ],
                          [44,22500000,10  ],
                          [44,16100000,10  ],
                          [44,400000,10  ],
                          [44,30700000,10  ],
                          [44,9100,10  ],
                          [44,42600000,10  ],
                          [45,41900000,10  ],
                          [45,300000,10  ],
                          [45,15700000,10  ],
                          [45,500000,10  ],
                          [45,19000000,10  ],
                          [45,5200000,10  ],
                          [45,38500000,10  ],
                          [45,33600,10  ],
                          [45,11900000,10  ],
                          [45,42400000,10  ],
                          [45,103000000,10  ],
                          [45,57700000,10  ],
                          [45,1800000,10  ],
                          [45,20200000,10  ],
                          [45,45000000,10  ],
                          [45,200000,10  ],
                          [45,400000,10  ],
                          [45,281300000,10  ],
                          [45,2600000,10  ],
                          [45,49100000,10  ],
                          [45,700000,10  ],
                          [45,6000000,10  ],
                          [45,19500,10  ],
                          [45,41200,10  ],
                          [46,42700000,10  ],
                          [46,42200000,10  ],
                          [46,97600000,10  ],
                          [46,30200000,10  ],
                          [46,48400000,10  ],
                          [46,8300000,10  ],
                          [46,83500000,10  ],
                          [46,8500,10  ],
                          [46,31800000,10  ],
                          [46,49900000,10  ],
                          [46,213900000,10  ],
                          [46,64900000,10  ],
                          [46,100000,10  ],
                          [46,400000,10  ],
                          [47,76600000,10  ],
                          [47,52500000,10  ],
                          [47,20800000,10  ],
                          [47,39300000,10  ],
                          [47,2800000,10  ],
                          [47,1100000,10  ],
                          [47,79500000,10  ],
                          [47,114900000,10  ],
                          [47,86700000,10  ],
                          [47,34700,10  ],
                          [47,77200000,10  ],
                          [47,39400000,10  ],
                          [47,100300000,10  ],
                          [47,38500000,10  ],
                          [47,148300000,10  ],
                          [47,20600,10  ],
                          [47,53200000,10  ],
                          [47,4000,10  ],
                          [47,40900,10  ],
                          [47,400000,10  ],
                          [47,91400000,10  ],
                          [47,10500,10  ],
                          [48,81200000,10  ],
                          [48,81200000,10  ],
                          [48,43400,10  ],
                          [48,64100000,10  ],
                          [48,163900000,10  ],
                          [48,1800000,10  ],
                          [48,9900,10  ],
                          [48,6700,10  ],
                          [48,48300,10  ],
                          [48,11900000,10  ],
                          [48,13800000,10  ],
                          [48,186800000,10  ],
                          [48,54700000,10  ],
                          [48,600000,10  ],
                          [48,14200000,10  ],
                          [48,51900000,10  ],
                          [48,9500000,10  ],
                          [48,18000000,10  ],
                          [48,300000,10  ],
                          [48,3300000,10  ],
                          [48,2900,10  ],
                          [48,63900000,10  ],
                          [48,3300,10  ],
                          [48,3300,10  ],
                          [48,7000000,10  ],
                          [48,106600000,10  ],
                          [48,150800000,10  ],
                          [49,700000,10  ],
                          [49,227900000,10  ],
                          [49,8400000,10  ],
                          [49,12000000,10  ],
                          [49,1600000,10  ],
                          [49,166100000,10  ],
                          [49,19600000,10  ],
                          [49,82700,10  ],
                          [49,52600,10  ],
                          [49,29100000,10  ],
                          [49,21400000,10  ],
                          [49,37100000,10  ],
                          [49,1900000,10  ],
                          [49,12600000,10  ],
                          [49,56700000,10  ],
                          [49,300000,10  ],
                          [49,90200,10  ],
                          [49,12400000,10  ],
                          [49,161300000,10  ],
                          [49,19700000,10  ],
                          [49,79000,10  ],
                          [49,3300000,10  ],
                          [49,200000,10  ],
                          [49,131500000,10  ],
                          [49,9000,10  ],
                          [49,2200000,10  ],
                          [50,58000000,10  ],
                          [50,26800000,10  ],
                          [50,144900000,10  ],
                          [50,90500000,10  ],
                          [50,800000,10  ],
                          [50,196600000,10  ],
                          [50,10800,10  ],
                          [50,90800000,10  ],
                          [50,80600000,10  ],
                          [50,37700000,10  ],
                          [50,70600000,10  ],
                          [50,22200,10  ],
                          [50,100000,10  ],
                          [50,10100000,10  ],
                          [50,300000,10  ],
                          [50,42600000,10  ],
                          [50,1000000,10  ],
                          [50,4500000,10  ],
                          [50,200000,10  ],
                          [50,1200000,10  ],
                          [50,86900000,10  ],
                          [50,13700000,10  ],
                          [50,13700000,10  ],
                          [50,25900000,10  ],
                          [50,80000000,10  ],
                          [50,200000,10  ],
                          [50,17400000,10  ],
                          [50,117700000,10  ],
                          [50,5700000,10  ],
                          [50,15000,10  ],
                          [50,37900,10  ],
                          [50,57300,10  ],
                          [50,200000,10  ],
                          [51,11000000,10  ],
                          [51,100500000,10  ],
                          [51,400000,10  ],
                          [51,73000000,10  ],
                          [51,51500000,10  ],
                          [51,94500,10  ],
                          [51,31600,10  ],
                          [51,21500000,10  ],
                          [51,3200000,10  ],
                          [51,17800000,10  ],
                          [51,100400000,10  ],
                          [51,300000,10  ],
                          [51,52700000,10  ],
                          [51,73100000,10  ],
                          [51,6200,10  ],
                          [51,91500000,10  ],
                          [51,85000000,10  ],
                          [51,25000,10  ],
                          [51,15600000,10  ],
                          [51,12500000,10  ],
                          [51,42900000,10  ],
                          [51,65200000,10  ],
                          [51,27600,10  ],
                          [51,51900000,10  ],
                          [51,7000,10  ],
                          [51,400000,10  ],
                          [51,700000,10  ],
                          [51,300000,10  ],
                          [51,36000,10  ],
                          [51,5600000,10  ],
                          [52,11000000,10  ],
                          [52,25500000,10  ],
                          [52,67100000,10  ],
                          [52,125300000,10  ],
                          [52,27800000,10  ],
                          [52,21100000,10  ],
                          [52,10500,10  ],
                          [52,73000000,10  ],
                          [52,54000000,10  ],
                          [52,38200000,10  ],
                          [52,58700000,10  ],
                          [52,1700,10  ],
                          [52,200000,10  ],
                          [52,70900,10  ],
                          [52,126100000,10  ],
                          [52,3200,10  ],
                          [52,65800,10  ],
                          [52,292300000,10  ],
                          [52,19400000,10  ],
                          [52,9100000,10  ],
                          [52,4200,10  ],
                          [52,73100000,10  ],
                          [52,100000,10  ],
                          [52,300000,10  ],
                          [52,86500,10  ],
                          [52,56000,10  ],
                          [52,13400000,10  ],
                          [52,78000000,10  ],
                          [53,152600000,10  ],
                          [53,152600000,10  ],
                          [53,6300000,10  ],
                          [53,31700000,10  ],
                          [53,5700000,10  ],
                          [53,49400000,10  ],
                          [53,50800000,10  ],
                          [53,19500000,10  ],
                          [53,255500000,10  ],
                          [53,94300000,10  ],
                          [53,319300000,10  ],
                          [53,105200000,10  ],
                          [53,200000,10  ],
                          [53,84700000,10  ],
                          [53,104400000,10  ],
                          [53,99800000,10  ],
                          [53,43900000,10  ],
                          [53,7200000,10  ],
                          [53,37600000,10  ],
                          [53,10400,10  ],
                          [53,17300000,10  ],
                          [53,500000,10  ],
                          [53,400000,10  ],
                          [53,48100000,10  ],
                          [53,9700,10  ],
                          [53,3000,10  ],
                          [53,100000,10  ],
                          [53,32200000,10  ],
                          [53,202900000,10  ],
                          [53,61400,10  ],
                          [53,61400,10  ],
                          [54,130200000,10  ],
                          [54,4800000,10  ],
                          [54,16100000,10  ],
                          [54,32400000,10  ],
                          [54,4800,10  ],
                          [54,85800,10  ],
                          [54,67100,10  ],
                          [54,16700000,10  ],
                          [54,49000000,10  ],
                          [54,24400000,10  ],
                          [54,3800,10  ],
                          [54,12000000,10  ],
                          [54,89000000,10  ],
                          [54,500000,10  ],
                          [54,4600,10  ],
                          [54,1100000,10  ],
                          [54,58200000,10  ],
                          [54,28800000,10  ],
                          [54,5600,10  ],
                          [54,15400,10  ],
                          [54,5300,10  ],
                          [55,26400000,10  ],
                          [55,60300000,10  ],
                          [55,48200000,10  ],
                          [55,3500000,10  ],
                          [55,7400000,10  ],
                          [55,137800000,10  ],
                          [55,99900,10  ],
                          [55,43300000,10  ],
                          [55,38200000,10  ],
                          [55,1000000,10  ],
                          [55,19500000,10  ],
                          [55,11500000,10  ],
                          [55,100000,10  ],
                          [55,7300000,10  ],
                          [55,17100000,10  ],
                          [55,79700000,10  ],
                          [55,99800,10  ],
                          [55,300000,10  ],
                          [55,27100000,10  ],
                          [55,6000000,10  ],
                          [55,7500000,10  ],
                          [55,17100,10  ],
                          [55,187200000,10  ],
                          [55,144800000,10  ],
                          [55,291000000,10  ],
                          [55,21500,10  ],
                          [56,31200000,10  ],
                          [56,500000,10  ],
                          [56,3900000,10  ],
                          [56,13000000,10  ],
                          [56,25500000,10  ],
                          [56,31400000,10  ],
                          [56,191400000,10  ],
                          [56,83000000,10  ],
                          [56,107500000,10  ],
                          [56,2100000,10  ],
                          [56,64000000,10  ],
                          [56,98700000,10  ],
                          [56,26200000,10  ],
                          [56,73000000,10  ],
                          [56,117200000,10  ],
                          [56,500000,10  ],
                          [56,63700000,10  ],
                          [56,37300000,10  ],
                          [56,300000,10  ],
                          [56,85500000,10  ],
                          [56,13100000,10  ],
                          [56,8300,10  ],
                          [56,300000,10  ],
                          [56,44300000,10  ],
                          [56,200000,10  ],
                          [56,700000,10  ],
                          [56,100000,10  ],
                          [56,8300,10  ],
                          [56,25200,10  ],
                          [56,38400,10  ],
                          [56,91700000,10  ],
                          [56,67100,10  ],
                          [56,39800,10  ],
                          [56,36400000,10  ],
                          [56,241100000,10  ],
                          [56,100000,10  ],
                          [57,9500000,10  ],
                          [57,51900000,10  ],
                          [57,101700000,10  ],
                          [57,4200000,10  ],
                          [57,39400000,10  ],
                          [57,37700000,10  ],
                          [57,14800000,10  ],
                          [57,208700000,10  ],
                          [57,30000000,10  ],
                          [57,100000,10  ],
                          [57,312100000,10  ],
                          [57,31000000,10  ],
                          [57,600000,10  ],
                          [57,37400000,10  ],
                          [57,181000000,10  ],
                          [57,191500000,10  ],
                          [57,117500000,10  ],
                          [57,48200,10  ],
                          [57,19200,10  ],
                          [57,155100000,10  ],
                          [57,5800,10  ],
                          [57,3000,10  ],
                          [57,54200000,10  ],
                          [57,1200000,10  ],
                          [57,2800000,10  ],
                          [57,14600,10  ],
                          [57,1000000,10  ],
                          [57,50500000,10  ],
                          [57,7800000,10  ],
                          [58,320700000,10  ],
                          [58,9600000,10  ],
                          [58,7800000,10  ],
                          [58,168400000,10  ],
                          [58,28600000,10  ],
                          [58,34100000,10  ],
                          [58,9400000,10  ],
                          [58,18400000,10  ],
                          [58,28500000,10  ],
                          [58,238300000,10  ],
                          [58,300500000,10  ],
                          [58,100000,10  ],
                          [58,68000,10  ],
                          [58,1800000,10  ],
                          [58,75600000,10  ],
                          [58,11100,10  ],
                          [58,59600000,10  ],
                          [58,179000000,10  ],
                          [58,37400000,10  ],
                          [58,35800000,10  ],
                          [58,5200,10  ],
                          [58,303000000,10  ],
                          [58,303000000,10  ],
                          [58,45200,10  ],
                          [58,600000,10  ],
                          [58,1700000,10  ],
                          [58,200000,10  ],
                          [58,200000,10  ],
                          [58,23200,10  ],
                          [58,37700000,10  ],
                          [58,3800000,10  ],
                          [58,200000,10  ],
                          [59,900000,10  ],
                          [59,79200000,10  ],
                          [59,40300,10  ],
                          [59,500000,10  ],
                          [59,104000000,10  ],
                          [59,1100000,10  ],
                          [59,78000000,10  ],
                          [59,37300000,10  ],
                          [59,6600000,10  ],
                          [59,47300000,10  ],
                          [59,13400000,10  ],
                          [59,67500000,10  ],
                          [59,66400000,10  ],
                          [59,3100,10  ],
                          [59,119800000,10  ],
                          [59,400000,10  ],
                          [59,70500000,10  ],
                          [59,50600,10  ],
                          [59,800000,10  ],
                          [60,51800000,10  ],
                          [60,23900,10  ],
                          [60,26600000,10  ],
                          [60,90400000,10  ],
                          [60,90400000,10  ],
                          [60,700000,10  ],
                          [60,62500000,10  ],
                          [60,100000,10  ],
                          [60,1000000,10  ],
                          [60,24800000,10  ],
                          [60,2500000,10  ],
                          [60,10000,10  ],
                          [60,4200000,10  ],
                          [60,53200,10  ],
                          [60,55300,10  ],
                          [60,400000,10  ],
                          [60,1900000,10  ],
                          [60,159600000,10  ],
                          [60,81400,10  ],
                          [60,132600000,10  ],
                          [60,200000,10  ],
                          [60,100000,10  ],
                          [60,125100000,10  ],
                          [61,10800000,10  ],
                          [61,134500000,10  ],
                          [61,67300000,10  ],
                          [61,180000000,10  ],
                          [61,100000,10  ],
                          [61,12000000,10  ],
                          [61,31700000,10  ],
                          [61,23000000,10  ],
                          [61,10600000,10  ],
                          [61,14300000,10  ],
                          [61,59700000,10  ],
                          [61,6800000,10  ],
                          [61,15400000,10  ],
                          [61,4800,10  ],
                          [61,200000,10  ],
                          [61,35000000,10  ],
                          [61,7600,10  ],
                          [61,20100000,10  ],
                          [61,4800,10  ],
                          [61,46500,10  ],
                          [61,113200000,10  ],
                          [61,200000,10  ],
                          [61,238700000,10  ],
                          [61,238700000,10  ],
                          [61,3400000,10  ],
                          [61,93100000,10  ],
                          [61,1300000,10  ],
                          [61,700000,10  ],
                          [61,127300000,10  ],
                          [61,16700,10  ],
                          [61,51200000,10  ],
                          [61,27700000,10  ],
                          [62,71100000,10  ],
                          [62,141600000,10  ],
                          [62,13800000,10  ],
                          [62,200000,10  ],
                          [62,33300,10  ],
                          [62,169700000,10  ],
                          [62,77200,10  ],
                          [62,15300,10  ],
                          [62,28600000,10  ],
                          [62,46400000,10  ],
                          [62,218600000,10  ],
                          [62,900000,10  ],
                          [62,83800,10  ],
                          [62,95000000,10  ],
                          [62,409000000,10  ],
                          [62,368000000,10  ],
                          [62,19600,10  ],
                          [62,48600000,10  ],
                          [63,44000000,10  ],
                          [63,12300000,10  ],
                          [63,60300000,10  ],
                          [63,35700000,10  ],
                          [63,600000,10  ],
                          [63,15500000,10  ],
                          [63,15200000,10  ],
                          [63,125000000,10  ],
                          [63,33100000,10  ],
                          [63,48900000,10  ],
                          [63,600000,10  ],
                          [63,41000000,10  ],
                          [63,148200000,10  ],
                          [63,46400,10  ],
                          [63,58000000,10  ],
                          [63,143600000,10  ],
                          [63,55800000,10  ],
                          [63,6700,10  ],
                          [63,200000,10  ],
                          [63,100000,10  ],
                          [63,14100000,10  ],
                          [63,21300,10  ],
                          [63,200000,10  ],
                          [63,11300000,10  ],
                          [63,200000,10  ],
                          [64,80000000,10  ],
                          [64,134300000,10  ],
                          [64,134300000,10  ],
                          [64,20200000,10  ],
                          [64,2000000,10  ],
                          [64,37000000,10  ],
                          [64,8000000,10  ],
                          [64,119200000,10  ],
                          [64,100000,10  ],
                          [64,4400000,10  ],
                          [64,500000,10  ],
                          [64,18300000,10  ],
                          [64,72300000,10  ],
                          [64,51500000,10  ],
                          [64,4200000,10  ],
                          [64,77500,10  ],
                          [64,40800,10  ],
                          [64,15000000,10  ],
                          [64,1400000,10  ],
                          [64,101800000,10  ],
                          [64,100000,10  ],
                          [64,59400,10  ],
                          [64,68900,10  ],
                          [65,317000000,10  ],
                          [65,8100000,10  ],
                          [65,2000000,10  ],
                          [65,500000,10  ],
                          [65,2000000,10  ],
                          [65,60900000,10  ],
                          [65,118300000,10  ],
                          [65,295000000,10  ],
                          [65,3200000,10  ],
                          [65,75300,10  ],
                          [65,61200,10  ],
                          [65,40200000,10  ],
                          [65,40200000,10  ],
                          [65,149200000,10  ],
                          [65,14600000,10  ],
                          [65,500000,10  ],
                          [65,126500000,10  ],
                          [65,63500000,10  ],
                          [65,2600000,10  ],
                          [65,28300,10  ],
                          [65,30500,10  ],
                          [65,1600000,10  ],
                          [65,268500000,10  ],
                          [65,51000,10  ],
                          [65,1000000,10  ],
                          [65,83300000,10  ],
                          [66,800000,10  ],
                          [66,600000,10  ],
                          [66,6700000,10  ],
                          [66,5200000,10  ],
                          [66,124900000,10  ],
                          [66,20000000,10  ],
                          [66,15600,10  ],
                          [66,2700000,10  ],
                          [66,23700000,10  ],
                          [66,18500,10  ],
                          [66,176600000,10  ],
                          [66,600000,10  ],
                          [66,1300000,10  ],
                          [66,200000,10  ],
                          [66,262000000,10  ],
                          [66,300000,10  ],
                          [66,20300000,10  ],
                          [66,65000000,10  ],
                          [66,84300,10  ],
                          [66,5800000,10  ],
                          [66,24500000,10  ],
                          [66,258400000,10  ],
                          [66,400000,10  ],
                          [67,7600000,10  ],
                          [67,62700000,10  ],
                          [67,114100000,10  ],
                          [67,3000000,10  ],
                          [67,71800000,10  ],
                          [67,1800000,10  ],
                          [67,209800000,10  ],
                          [67,165200000,10  ],
                          [67,41000000,10  ],
                          [67,600000,10  ],
                          [67,18900000,10  ],
                          [67,21200,10  ],
                          [67,408000000,10  ],
                          [67,1000000,10  ],
                          [67,400000,10  ],
                          [67,2500000,10  ],
                          [67,97300,10  ],
                          [67,17700000,10  ],
                          [67,1600000,10  ],
                          [67,94000,10  ],
                          [67,101500000,10  ],
                          [67,400000,10  ],
                          [67,6200,10  ],
                          [68,33400000,10  ],
                          [68,13000000,10  ],
                          [68,2400,10  ],
                          [68,176700000,10  ],
                          [68,1100000,10  ],
                          [68,1700000,10  ],
                          [68,400000,10  ],
                          [68,300000,10  ],
                          [68,1200000,10  ],
                          [68,200000,10  ],
                          [68,21400000,10  ],
                          [68,55600,10  ],
                          [68,137400000,10  ],
                          [68,21500000,10  ],
                          [68,15300,10  ],
                          [68,101200000,10  ],
                          [68,17800000,10  ],
                          [68,150100000,10  ],
                          [68,31300000,10  ],
                          [69,30000000,10  ],
                          [69,2300000,10  ],
                          [69,22900000,10  ],
                          [69,40600000,10  ],
                          [69,3700000,10  ],
                          [69,1600000,10  ],
                          [69,300000,10  ],
                          [69,300000,10  ],
                          [69,700000,10  ],
                          [69,4400000,10  ],
                          [69,31500000,10  ],
                          [69,81600000,10  ],
                          [69,81600000,10  ],
                          [69,9500000,10  ],
                          [69,2400000,10  ],
                          [69,600000,10  ],
                          [69,4400000,10  ],
                          [69,46400000,10  ],
                          [69,64600000,10  ],
                          [69,100000,10  ],
                          [69,138400000,10  ],
                          [69,623300000,10  ],
                          [69,237300000,10  ],
                          [69,100000,10  ],
                          [69,22000,10  ],
                          [69,100000,10  ],
                          [69,18200,10  ],
                          [69,124900000,10  ],
                          [69,800000,10  ],
                          [70,23200000,10  ],
                          [70,127500000,10  ],
                          [70,97000000,10  ],
                          [70,1200000,10  ],
                          [70,33100,10  ],
                          [70,6900000,10  ],
                          [70,75600000,10  ],
                          [70,1000000,10  ],
                          [70,21700,10  ],
                          [70,44700,10  ],
                          [70,794,10  ],
                          [70,3000,10  ],
                          [70,9800,10  ],
                          [70,17900,10  ],
                          [70,60000,10  ],
                          [70,259700000,10  ],
                          [71,110400000,10  ],
                          [71,200000,10  ],
                          [71,77200000,10  ],
                          [71,200800000,10  ],
                          [71,6700,10  ],
                          [71,13700000,10  ],
                          [71,16300000,10  ],
                          [71,3400000,10  ],
                          [71,7100,10  ],
                          [71,600000,10  ],
                          [71,300000,10  ],
                          [71,400000,10  ],
                          [71,2300000,10  ],
                          [71,300000,10  ],
                          [71,76600,10  ],
                          [71,100100000,10  ],
                          [71,191500000,10  ],
                          [72,13200000,10  ],
                          [72,148100000,10  ],
                          [72,4100000,10  ],
                          [72,251500000,10  ],
                          [72,58400000,10  ],
                          [72,127000000,10  ],
                          [72,35000000,10  ],
                          [72,200000,10  ],
                          [72,400000,10  ],
                          [72,75200,10  ],
                          [72,42000000,10  ],
                          [72,113700000,10  ],
                          [72,700000,10  ],
                          [72,900000,10  ],
                          [72,56000000,10  ],
                          [72,4000000,10  ],
                          [72,189400000,10  ],
                          [72,19200,10  ],
                          [72,228800000,10  ],
                          [73,215400000,10  ],
                          [73,1000000,10  ],
                          [73,42400,10  ],
                          [73,277300000,10  ],
                          [73,400000,10  ],
                          [73,75600000,10  ],
                          [73,1100000,10  ],
                          [73,104400000,10  ],
                          [73,209400000,10  ],
                          [73,47700,10  ],
                          [73,7900000,10  ],
                          [73,69300,10  ],
                          [73,200000,10  ],
                          [73,100000,10  ],
                          [73,400000,10  ],
                          [73,17200000,10  ],
                          [74,3000000,10  ],
                          [74,300000,10  ],
                          [74,37400000,10  ],
                          [74,217400000,10  ],
                          [74,292600000,10  ],
                          [74,7500000,10  ],
                          [74,92200000,10  ],
                          [74,54700000,10  ],
                          [74,300000,10  ],
                          [74,26700000,10  ],
                          [74,700000,10  ],
                          [74,800000,10  ],
                          [74,200000,10  ],
                          [74,200000,10  ],
                          [74,35300000,10  ],
                          [74,57600,10  ],
                          [74,87900,10  ],
                          [74,61000000,10  ],
                          [74,100000,10  ],
                          [74,400700000,10  ],
                          [74,400700000,10  ],
                          [74,100000,10  ],
                          [74,400000,10  ],
                          [74,5100000,10  ],
                          [75,83800,10  ],
                          [75,123200000,10  ],
                          [75,169100000,10  ],
                          [75,10200000,10  ],
                          [75,88600000,10  ],
                          [75,9200000,10  ],
                          [75,86200,10  ],
                          [75,44700,10  ],
                          [75,32200000,10  ],
                          [75,100000,10  ],
                          [75,700000,10  ],
                          [75,424600000,10  ],
                          [75,116900000,10  ],
                          [75,66300,10  ],
                          [75,3100000,10  ],
                          [75,2800,10  ],
                          [76,5400000,10  ],
                          [76,23900,10  ],
                          [76,2300000,10  ],
                          [76,2200000,10  ],
                          [76,1500000,10  ],
                          [76,500000,10  ],
                          [76,11200000,10  ],
                          [76,5400000,10  ],
                          [76,3000000,10  ],
                          [76,4000000,10  ],
                          [76,93700000,10  ],
                          [76,400000,10  ],
                          [76,21600000,10  ],
                          [76,200000,10  ],
                          [76,400000,10  ],
                          [76,37700000,10  ],
                          [76,31200,10  ],
                          [76,2000000,10  ],
                          [76,176300000,10  ],
                          [77,9100000,10  ],
                          [77,1000000,10  ],
                          [77,9200000,10  ],
                          [77,200000,10  ],
                          [77,2600000,10  ],
                          [77,200000,10  ],
                          [77,100000,10  ],
                          [77,48000,10  ],
                          [77,300000,10  ],
                          [78,75800000,10  ],
                          [78,301900000,10  ],
                          [78,4000000,10  ],
                          [78,35100000,10  ],
                          [78,448100000,10  ],
                          [78,100000,10  ],
                          [78,33400000,10  ],
                          [78,17500000,10  ],
                          [79,318300000,10  ],
                          [79,47500000,10  ],
                          [79,9200000,10  ],
                          [79,2900000,10  ],
                          [79,107000000,10  ],
                          [79,93600000,10  ],
                          [79,800000,10  ],
                          [79,200000,10  ],
                          [79,200000,10  ],
                          [79,6000000,10  ],
                          [79,125000000,10  ],
                          [79,125000000,10  ],
                          [79,300000,10  ],
                          [79,3000000,10  ],
                          [80,200000,10  ],
                          [80,18600000,10  ],
                          [80,75200000,10  ],
                          [80,700000,10  ],
                          [80,4200000,10  ],
                          [80,171000000,10  ],
                          [80,200000,10  ],
                          [80,200000,10  ],
                          [80,300000,10  ],
                          [80,300000,10  ],
                          [80,8900,10  ],
                          [80,2400000,10  ],
                          [81,26100000,10  ],
                          [81,115600000,10  ],
                          [81,6400000,10  ],
                          [81,9700000,10  ],
                          [81,56800000,10  ],
                          [81,10400,10  ],
                          [81,500000,10  ],
                          [81,304400000,10  ],
                          [81,132100000,10  ],
                          [81,162800000,10  ],
                          [81,97800,10  ],
                          [81,400000,10  ],
                          [81,1400000,10  ],
                          [82,533300000,10  ],
                          [82,2100000,10  ],
                          [82,12700000,10  ],
                          [82,1000000,10  ],
                          [82,18300000,10  ],
                          [82,1100000,10  ],
                          [82,1400000,10  ],
                          [82,1400000,10  ],
                          [82,100000,10  ],
                          [82,28600,10  ],
                          [82,4100000,10  ],
                          [82,6900000,10  ],
                          [82,10800,10  ],
                          [82,200000,10  ],
                          [82,257800000,10  ],
                          [83,100000,10  ],
                          [83,800000,10  ],
                          [83,257700000,10  ],
                          [83,42100000,10  ],
                          [83,20900000,10  ],
                          [83,760500000,10  ],
                          [83,83800000,10  ],
                          [83,83800000,10  ],
                          [83,38300000,10  ],
                          [83,100000,10  ],
                          [83,400000,10  ],
                          [83,107100000,10  ],
                          [83,2100000,10  ],
                          [83,4900000,10  ],
                          [84,31700000,10  ],
                          [84,600000,10  ],
                          [84,82600000,10  ],
                          [84,45500000,10  ],
                          [84,66300000,10  ],
                          [84,100000,10  ],
                          [84,4600000,10  ],
                          [85,12500000,10  ],
                          [85,1300000,10  ],
                          [85,13300000,10  ],
                          [85,13300000,10  ],
                          [85,1700000,10  ],
                          [85,16100000,10  ],
                          [86,20800000,10  ],
                          [86,5200000,10  ],
                          [86,16200000,10  ],
                          [86,136000000,10  ],
                          [86,182200000,10  ],
                          [86,59000,10  ],
                          [86,100000,10  ],
                          [86,17600000,10  ],
                          [87,75600000,10  ],
                          [87,59000,10  ],
                          [87,900000,10  ],
                          [87,800000,10  ],
                          [88,293000000,10  ],
                          [88,4300000,10  ],
                          [88,59100000,10  ],
                          [88,700000,10  ],
                          [89,800000,10  ],
                          [90,150100000,10  ],
                          [90,25600000,10  ],
                          [92,415000000,10  ],
                          [92,415000000,10  ],
                          [92,13200000,10  ],
                          [94,15700000,10  ],
                          [94,8100000,10  ],
                          [95,96900000,10  ],
                          [95,95700000,10  ],
                          [100,23800000,10  ]
                        ],
                  marker: {
                fillColor: {
                    radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                    stops: [
                        [0, 'rgba(255,255,255,0.5)'],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.5).get('rgba')]
                    ]
                }
            }
              }]

          });
      });
		</script>
	</head>

	<body>
		<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/highchart-3d.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts-more.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/themes/dark-green.js')}}"></script>
		
        <a href="{{ url_for('charts') }}" style="color: #0000FF; font-size: 16px; font-weight: bold">Back to Data Charts</a><br><br>
        <br><br>
        <div id="container" style="min-width: 310px; max-width: 1350px; height: 700px; margin: 0 auto"></div>

	</body>
</html>
